<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>f7a2050885744ff76f3ec27c3402eb6d</string>
	<key>FacebookDisplayName</key>
	<string>Lunara</string>
	<key>FacebookAppID</key>
	<string>688026454159070</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb688026454159070</string>
			</array>
		</dict>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized dream insights and improve your experience</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Lunara uses speech recognition to allow you to record your dreams by speaking instead of typing. This provides a more natural way to capture dream details when you first wake up.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Lunara needs access to your microphone to allow voice input for recording your dreams.</string>
</dict>
</plist>
